
@font-face {
  font-family: 'Helvetica-Bold';
  src: local('Helvetica-Bold'), url('../assets/fonts/Helvetica Neue Condensed Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Medium';
  src: local('Roboto-Medium'), url('../assets/fonts/Roboto-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto-Light';
  src: local('Roboto-Light'), url('../assets/fonts/Roboto-Light.ttf') format('truetype');
}

.Hacen-posible-esta-campaa {
  width: 100%;
  height: 40pxpx;
  font-family: 'Roboto-Light';
  font-size: 3.2em;
  font-weight: normal;
  font-stretch: normal;
  line-height: 0.78;
  letter-spacing: normal;
  text-align: center;
  color: #313131;
}

.USAR-FILTRO {
  padding:20;
  font-family: 'Roboto-Medium';
  font-size: 1.8em;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 1.04px;
  text-align: left;
  color: #fff;
}

.popup {
  position: fixed;

  width: 100%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;
}

.popup.visible {
  opacity: 1;
  pointer-events: auto;
}

.popup-box {
  background-color: white;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.popup-box p {
  margin: 0;
  font-size: 1em;
  margin-bottom: 20px;
}

.popup-box button {

  margin: 0;
  font-size: 1em;
  cursor: pointer;
}
.close-button {
  width: 40px;
  height: 40px;
  background-color: #66468e;
  box-shadow: 4px 4px 6px 0 #000;
  color: white;
  border: none;
  border-radius: 50%; /* Hace que el botón sea circular */
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.SI-ESTS-CONDUCIENDO-NO-USES-EL-FILTRO {
  margin: 0 0 42px;
  font-family: 'Roboto-Medium';
  font-size: 50px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #272727;
}
.Rectngulo-97 {
  width: 331px;
  height: 58px;
  margin: 20px auto 0; /* Alineado verticalmente en el centro */
  padding: 13px 88px 12px;
  border-radius: 15px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2); /* Sombra */
  background-color: #eca9bb;
  text-align: center;
}

.Rectngulo-97:hover {
  background-color: #ff7f9d; /* Cambia el color de fondo al pasar el mouse */
}

.CONTINUAR {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto-Medium';
  font-size: 25px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.32;
  letter-spacing: 2px;
  text-align: center;
  color: #fff;
}
/* Estilos para hacer que las imágenes sean responsivas */
.responsive-image {
  width: 100%;
  height: auto;
  margin-top:0;
  margin-bottom:0;
  padding:0;
  cursor: pointer;
}

.responsive-imageFiltro {
  max-width: 100%;
  height: auto;

}
.button-zoom {
  transition: transform 0.3s ease-in-out;
    margin: 0; /* Elimina cualquier margen predeterminado */
    padding: 0;
}
.button-zoom:active {
  transform: scale(1.1); /* Ajusta el valor según el zoom deseado al hacer clic */
}

.button-zoom:hover {
  transform: scale(1.1); /* Ajusta el valor según el zoom deseado */
}
@media (max-width: 790px) {
  .button-zoom {
    touch-action: manipulation; /* Desactiva el zoom táctil */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* Desactiva el resaltado al tocar en algunos dispositivos */
    border: none; /* Elimina el borde predeterminado */
    margin: 0; /* Elimina cualquier margen predeterminado */
    padding: 0; /* Elimina cualquier relleno predeterminado */
  }
}