.slidecontainer {
 width:100%;
  position: relative;

}
.slick-next {
  display: none;
}
.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Agrega posicionamiento relativo para colocar las imágenes correctamente */
}
/* Ocultar las flechas "Next" y "Previous" de slick */
.slick-slider .slick-next, .slick-arrow
.slick-slider .slick-prev {
  display: none;
  right:0;
  left:0;
}

.slick-dots {
 zoom: 1.5;
}

/* Define two different dot colors */
.slick-dots li:nth-child(odd) button:before {
  color: #66468e;
}

.slick-dots li:nth-child(even) button:before {
  color: #eca9bb;
}

.slick-slide img {
  max-width: 100%;
  height: auto;
}
.slick-list {
    width:100%;

}

@media (max-width: 768px) {
  img {
    height: auto;
    object-fit: cover;
  }
}


